.projectsRoot {
  height: 100vh;
  width: 100%;
  margin: auto;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-around;
  align-items: center;
}

.project {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
}

.projectDescription {
  font-size: 0.3em;
  word-break: none;
  display: inline;
  width: 66%;
  margin-top: 0;
}

.projectVisual {
  display: flex;
  justify-content: center;
  align-self: center;
  width: 30%;
  height: auto;
}

.projectVisual > img {
  width: 75%;
  height: auto;
}

@media only screen and (max-width: 450px) {
  .projectsRoot {
    font-size: 0.75em;
    height: 350vh;
  }
  .project {
    height: 100vh;
    flex-flow: column nowrap;
    text-align: center;
  }
  .projectVisual {
    width: 60%;
    height: auto;
  }
  .projectDescription {
    align-self: center;
    width: 80%;
  }
  .middleProject {
    flex-direction: column-reverse;
  }
}
